<div ng-controller="homeController as hc">
  <nav class="navbar navbar-inverse" role="navigation" >
    <div class="navbar-header">
      <a class="navbar-brand" href='#!/home' ng-click="hc.Home()">UOLET</a>
    </div><!-- navbar-header -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Apps<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="app in hc.config.apps"><a ng-click="hc.TrocaApp(app.client_id, app.url_app)" target="console"> {{app.name}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text">{{ hc.UoletContext.data.user.profile.uolet.fullname }}( {{ hc.UoletContext.data.user.profile.uolet.email }} )</span></li>
        <li>
          <span class="navbar-text">
            <a data-toggle="modal" data-target="#modalMerchant">{{ hc.UoletContext.data.merchant.name }}</a>
          </span>
        </li>
        <li>
          <a data-toggle="modal" data-target="#settingsModal">
            <i class="fa fa-cog faa-spin animated-hover"></i>
          </a>
        </li>
        <li>
          <div class="button-marge">
            <a href ng-click="hc.logout()" class="btn btn-primary navbar-btn">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> <!-- navbar navbar-inverse -->

   <!-- modal config -->
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Configurações</h5>
        </div><!-- modal-header -->
        <div class="modal-body">
          <div class="row">
            <ul class="nav nav-tabs nav-padding" role="tablist">
              <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="/home#config" role="tab"><h6>Config</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="/home#app" role="tab" ><h6>Apps</h6></a>
              </li>
            </ul><!-- nav-tabs -->
            <div class="tab-content">
              <div class="tab-pane active" id="config" role="tabpanel">
                <div class="col-sm-8 middle-config">
                  <h5>Configurações</h5>
                  
                  <div class="form-group row">
                    <label for="title-text-input" class="col-sm-2">Client ID</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" ng-model="data.clientId" ng-value="hc.config.clientId" id="title-text-input">
                    </div>
                  </div><!-- formgroup row -->
                  <div class="form-group row">
                    <label for="title-text-input" class="col-sm-2">API Endpoint</label>
                    <div class="col-sm-8">
                      <input class="form-control" ng-model="data.apiEndpoint" type="text" ng-value=" hc.config.apiEndpoint" id="title-text-input">
                    </div>
                  </div><!-- form group row -->
                      <a ng-click="hc.EditConfig(data)" style="float: right; margin-right: 16%" class="btn btn-primary">Alterar <span class="glyphicon glyphicon-ok"></span></a>
                </div><!-- middle-config -->
              </div><!-- tabpane active -->
              <div class="tab-pane" id="app" role="tabpanel">
                <div class="col-sm-11">
                  <h2 class="col-md-11">Listagem dos Apps</h2>
                  
                  <div class="panel panel-default col-md-12">
                    <table class="table table-bordered">
                      <thead>
                         <tr>
                           <th>Nome</th>
                           <th>URL do App</th>
                           <th>ClientID</th>
                           <th>Icon do App</th>
                           <th>Categoria</th>
                           <th>Cor</th>
                         </tr>
                      </thead>
                     <tbody>
                       <tr ng-repeat="apps in hc.config.apps">
                         <td><input type="text" class="form-control" id="app_name_{{apps.app_id}}" disabled value="{{apps.name}}"></input></td>
                         <td><input type="text" class="form-control" id="app_urlApp_{{apps.app_id}}" disabled value="{{apps.url_app}}"></input></td>
                         <td><input type="text" class="form-control" id="app_clientId_{{apps.app_id}}" disabled value="{{apps.client_id}}"></input></td>
                         <td><input type="text" class="form-control" id="app_urlIcon_{{apps.app_id}}" disabled value="{{apps.url_icon}}"></input></td>
                         <td><input type="text" class="form-control" id="app_categoria_{{apps.app_id}}" disabled value="{{apps.categoria}}"></input></td>
                         <td><input type="text" class="form-control" id="app_color_{{apps.app_id}}" disabled value="{{apps.color}}"></input></td>
                      </tr>
                     </tbody>
                    </table>
                 </div><!-- panel -->
                </div><!-- col-sm-9 -->
              </div> <!-- tab-pane -->
            </div>
          </div>
        </div> <!-- modal-body -->
      </div><!-- modal content -->
    </div>
  </div><!-- modal fade -->
<div class="modal fade" id="modalMerchant" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Troca de Merchant</h5>
      </div>
      <div class="modal-body col-sm-12">
        <p>Realize a troca de merchant informando a nova sigla.</p>
        <div class="form-group row">
          <label for="title-text-input" class="col-sm-6">Símbolo do novo merchant</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Novo Merchant" value="" ng-model="data.merchant_context">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="hc.trocaMerchant(data)" data-dismiss="modal">Trocar</button>
      </div>
    </div>
  </div>
</div>
  <!--end navbar -->
<div class="container-fluid" ng-if="hc.UoletContext.currentApp.urlApp == null">
  <div class="panel-group">
    <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Campanhas
      </div>
      <div class="panel-body">
        <div class="col-md-6" ng-repeat="app in hc.config.apps | filter: 'campanhas'">
          <a class="campanhas" href ng-click="hc.TrocaApp(app.client_id, app.url_app)">
            <div class="card">
              <div class="text-center">
                <i class="fa fa-desktop fa-5x appIcon"></i>
              </div>
                <h4 class="card-title"> {{app.name}}</h4>
            </div><!--card-->
          </a>
        </div><!-- bold-md-6 -->
      </div>
    </div>
    </div><!-- panel-default -->
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Relatorios</div>
        <div class="panel-body">
          <div class="col-md-3" ng-repeat="app in hc.config.apps | filter: 'relatorios'">
            <a href ng-click="hc.TrocaApp(app.client_id, app.url_app)" class="relatorios">
              <div class="card">
                <div class="text-center">
                  <i class="fa fa-desktop fa-5x appIcon"></i>
                </div>
                  <h4 class="card-title"> {{app.name}}</h4>
              </div>
            </a>
          </div><!-- col-md-3 -->
        </div>
      </div>
    </div><!-- col-md-8 -->
    <div class="col-sm-10" style="width: 100%;">
      <div class="panel panel-default">
        <div class="panel-heading">Gerenciadores</div>
        <div class="panel-body">
          <div class="col-md-2" ng-repeat="app in hc.config.apps | filter: 'gerenciador'">
            <a class="gerenciadores" href ng-click="hc.TrocaApp(app.client_id, app.url_app)">
              <div class="card">
                  <div class="text-center">
                    <i class="fa fa-desktop fa-5x appIcon"></i>
                  </div><!--img-box -->
                    <h4 class="card-title"> {{app.name}}</h4>
              </div><!-- card -->
            </a>
          </div><!-- col-md-2 -->
        </div><!-- panel-body -->
      </div><!-- panel-default -->
    </div><!-- col-sm-10-->
  </div><!--panel-group -->
</div><!-- container-fluid -->
<iframe class="iframe" frameborder="0" id="iframe" ng-src="{{ hc.UoletContext.currentApp.urlApp | trustedUrl }}" ng-if="hc.UoletContext.currentApp.urlApp !== null" ></iframe>

</div>
