<div class="wrapper" ng-controller="loginController as lc">
    <div class="container container--form">
    <div class="ult"></div>
    <h1 class="uolet-logo">Uolet</h1>
    <form class="form">
      <input type="text" placeholder="Username"  id="username" ng-model="submit.subject">
      <input type="password" placeholder="Password" id="password" ng-model="submit.secret">
      <input type="text" placeholder="Merchant" pattern="[A-Z]{3}" id="merchant" ng-model="submit.merchant_context">
      <button type="submit" id="login-button" ng-click="lc.login(submit)">Login</button>
    </form>
  </div><!-- container -->
</div><!-- wrapper -->