<div class="col-sm-3" id="cadastroApp" style="display: block">
  <h5>Cadastro de Apps</h5>
  <form action="">
    <div class="form-group">
      <label for="">Nome do App</label>
      <input type="text" class="form-control" ng-model="app.name">
    </div><!--form-group-->
    <div class="form-group">
      <label for="">URL</label>
      <input type="text" class="form-control" ng-model="app.url_app">
    </div><!-- form-group-->
    <div class="form-group">
      <label for="name">ClientID</label>
      <input type="text" class="form-control" ng-model="app.x_client_id"/>
    </div><!-- form-group-->
    <div class="form-group">
      <label for="name">Código do Icon</label>
      <input type="text" class="form-control" ng-model="app.url_icon">
    </div><!-- form-group-->
    <div class="form-group">
     <label for="name">Categoria</label>
     <input  type="text" class="form-control" ng-model="app.categoria" />
    </div><!-- form-group-->
    <div class="form-group">
      <label for="exampleSelect2">Cor</label>
      <input  type="text" class="form-control" ng-model="app.color"></input>
      <a class="btn btn-primary button-space" ng-click="hc.adicionarApps(app)" style="float: right;"><span class='glyphicon glyphicon-plus'></span></a>
    </div><!-- form-group-->
  </form>
</div>