@import url(http://fonts.googleapis.com/css?family=Roboto:200,300);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

@font-face {
    font-family: "Archer pro";
    font-weight: 100;
}

@font-face {
    font-family: "Archer pro";
    font-weight: 300;
}

@font-face {
    font-family: "Archer pro";
    font-weight: 500;
}

@font-face {
    font-family: "Archer pro";
    font-weight: 700;
}

@font-face {
    font-family: "Archer pro";
    font-weight: 900;
}

body {
  background: url(../img/footer_lodyas.png) repeat fixed;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.uolet-logo {
  font-family: "Archer pro", "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 10px auto;
  color: #fff87a;
}

.wrapper {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container--form {
  background-color: rgba(0, 0, 13, 0.4);
  width: 100%;
  margin: 250px auto;
  text-align: center;
  padding: 50px 0;
}
.container--form h1 {
  font-size: 40px;
  font-weight: 200;
}
form {
  padding: 0 auto;
  position: relative;
  z-index: 2;
}
form input {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #C1C1C1;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form button {
  outline: 0;
  background-color: #5cb85c;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  width: 350px;
  cursor: pointer;
  font-size: 18px;
}

form button:hover {
  background-color: #4cae4c;
}

.ult {
  width: 20vw;
  height: 20vw;
  border-radius: 15% 15% 15% 15%;
  border: 1.2vw solid #fff87a;
  position: relative;
  margin: 0 auto;
}
.ult:before{
    content: "";
    width: 27%;
    height: 68%;
    border: 1.2vw solid #fff87a;
    border-top: 0;
    border-radius: 20px 20px 200px 200px;
    margin: 0 auto;
    position: relative;
    top: -0.2vw;
    display: block;
    z-index: 1;
}

.ult:after{
    content: "";
    width: 10%;
    height: 10%;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    top: -32%;
    display: block;
    background-color: #fff87a;
    z-index: 2;
}

@media (min-width: 900px) {
  .ult {
    width: 5vw;
    height: 5vw;
    border: 0.2vw solid #fff87a;
  }
  .ult:before{
      border: 0.2vw solid #fff87a;
      top: -0.1vw;
  }
