@font-face {
    font-family: "Archer pro";
    src: url(../font/ArcherPro-XLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Archer pro";
    src: url(../font/ArcherPro-Book.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Archer pro";
    src: url(../font/ArcherPro-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Archer pro";
    src: url(../font/ArcherPro-Semibold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Archer pro";
    src: url(../font/ArcherPro-Bold.ttf);
    font-weight: 900;
}
a{
  cursor: pointer;
}

.iframe {
  z-index: 1;
  top: 50px;
}
.panel-body {
    padding: 0 0 20px 0;
}

.panel {
  margin: 10px 0 0 0;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #F8F8F8;
    border-color: #ddd;
    font-size: 180%;
}
.navbar {
  z-index: 2;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
  max-height: 2000px;
}

.navbar-brand {
  font-family: "Archer pro", "Roboto", sans serif;
  text-transform: uppercase;
  color: #FFF87A !important;
}


.button-marge {
  margin: 0 5px 0 5px;
}

.button-space {
  margin: 10px 0 10px 0;
}

.btn-xs {
  margin: 0 5px 0 5px;
}

.centering {
  margin: 15px 15px 0 10px;
}

.card-title {
  font-size: 100%;
}
.card {
  border: 1px solid #E0E0E0;
  border-radius: 0.25rem;
  margin: 10px auto;
  background-color: #fff;
  text-align: center;
}

.card-block{
  margin: -10px 0 0 0;
  background-color: #F8F8F8;
}

.campanhas {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
}

.campanhas:hover{
  color: #999;
  text-decoration: none;
}

.gerenciadores {
  color: #F44336;
  text-decoration: none;
  cursor: pointer;
}

.gerenciadores:hover{
  color: #999;
  text-decoration: none;
}

.editores {
  color: #009688;
  text-decoration: none;
  cursor: pointer;
}

.editores:hover{
  color: #999;
  text-decoration: none;
}

.relatorios {
  color: #FF9800;
  text-decoration: none;
  cursor: pointer;
}

.relatorios:hover{
  color: #999;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
}

.img-box {
  display: inline-block;
  width: 90%;
  margin-right: -0.5em;
  text-align: center;
  margin: -10px 0 0 0;
}

.appIcon {
    margin: 25px 0 0 0;
}

iframe {
  border: 0;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%
}

.middle-config {
  float: none;
  margin: 0 auto;
}


.nav-padding li a {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    .modal-lg{
      width: 90%;
    }
}
